name: lint-and-test

on: push

jobs:
  lint:
    runs-on: ubuntu-latest
    steps: 
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Install dependencies
        run: npm install
      - name: Run ESLint
        run: make lint

  test:
    runs-on: ubuntu-latest
    steps: 
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Install dependencies
        run: npm install
      - name: Run tests
        run: make test
      - name: Run Jest tests with coverage
        run: npx jest --coverage
      - name: Upload coverage to CodeClimate
        run: |
          curl -s https://codeclimate.com/test_reports \
          --data-binary @coverage/lcov.info \
          -H "Content-Type: text/plain" \
          -H "CC-Test-Reporter-Id: ${{ secrets.CC_TEST_REPORTER_ID }}"